
.nav{
	position: fixed;
	width: 100%;
	 background: #d0d0d0;
	font-size: 1em;
	font-family: 'Khand', sans-serif;
	font-weight: bold;
	margin:0;
    cursor: default;
    padding:auto;
    text-decoration: none;
    line-height: 35px;
     z-index: 99999;

}
.nav a.link{
	border: solid black 1px;
	border-top: 0;
	border-bottom: 0;
	text-decoration: none;
	padding: 3px 30px 0px 30px;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: 100;
    color: #1A1E23;

}
/*in hover mishe kar nemikone ehtemalan bara js e*/
.nav a.link.focused{
	background-color: #212529;
	color: #e9edef;
    cursor: default;
}
.nav a:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

/*End of the header*/

#index{
	background:url(images/neon.png);
	margin:0;
}

@media (min-width: 1200px){
		#bkg{
			background:url(images/neon.png) no-repeat;
			width: auto;
			height: 700px;
		}
		.content{
		background-color:#242935e0;
		margin-top: 30px;
		height: 700px;
		color: white;
	}
	.about{
		background-color:#242935e0;
		height: 400px;
	}
	.about h1{
		padding-top: 100px;
		font-family: 'Khand', sans-serif;
		color: white;
		font-weight: bold;
		font-size: 3em;
	}
	.about p{
		color: #44f8eb;
		font-family: 'Roboto Mono', monospace;
	}
	#p1{
		padding-top: 150px;
		width: 600px;
		font-family: 'Roboto Mono', monospace;
		line-height: 29px;

	}
	#pic1{
		padding-top: 100px;
		float: right;
		width: 500px;
		padding-left: 40px;
	}
	hr{
		background-color:#44f8eb;
		width: 70%;
		height: 5px;
		border-radius: 15%;
		margin-top: 200px;

	}

	#p2{
		font-family: 'Roboto Mono', monospace;
		padding-top: 70px;
		line-height: 29px;


	}

}

@media (min-width: 993px) and (max-width: 1199px){
			#bkg{
			background:url(images/neon.png) no-repeat;
			width: auto;
			height: 700px;
		}
		.content{
		background-color:#242935e0;
		margin-top: 30px;
		height: 700px;
		color: white;
	}
	.about{
		background-color:#242935e0;
		height: 400px;
	}
	.about h1{
		padding-top: 100px;
		font-family: 'Khand', sans-serif;
		color: white;
		font-weight: bold;
		font-size: 3em;
	}
	.about p{
		color: #44f8eb;
		font-family: 'Roboto Mono', monospace;
	}
	#p1{
		padding-top: 200px;
		width: 600px;
		font-family: 'Roboto Mono', monospace;
		line-height: 29px;

	}
	#pic1{
		padding-top: 100px;
		float: right;
		width: 500px;
		padding-left: 40px;
	}
	hr{
		background-color:#44f8eb;
		width: 70%;
		height: 5px;
		border-radius: 15%;
		margin-top: 200px;

	}

	#p2{
		font-family: 'Roboto Mono', monospace;
		padding-top: 70px;
		line-height: 29px;


	}

}

@media (max-width: 992px){
				#bkg{
			background:url(images/neon.png) no-repeat;
			width: auto;
			height: 700px;
		}
		.content{
		background-color:#242935e0;
		margin-top: 30px;
		height: 800px;
		color: white;
	}
	.about{
		background-color:#242935e0;
		height: 500px;
	}
	.about h1{
		padding-top: 100px;
		font-family: 'Khand', sans-serif;
		color: white;
		font-weight: bold;
		font-size: 3em;
	}
	.about p{
		color: #44f8eb;
		font-family: 'Roboto Mono', monospace;
	}
	#p1{
		padding-top: 40px;
		font-family: 'Roboto Mono', monospace;
		line-height: 29px;

	}
	#pic1{
		  display: block;
		  max-width: 100%;
		  height: auto;
		  padding-top: 30px;
		  margin:0 auto;
	}
	hr{
		background-color:#44f8eb;
		width: 70%;
		height: 5px;
		border-radius: 15%;
		margin-top: 200px;

	}

	#p2{
		font-family: 'Roboto Mono', monospace;
		padding-top: 70px;
		line-height: 29px;


	}


}